backports.tarfile==1.2.0
black==24.10.0
flake8-pyproject==1.2.3
importlib-metadata==8.0.0
invoke==2.2.0
isort==5.13.2
jaraco.collections==5.1.0
openai==1.57.4
rapidfuzz==3.10.1
sentence-transformers==3.3.1
tomli==2.0.1
